body {
    background-color: #56bacc;
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 15px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.534);
}


#botao {
    
    color: rgb(0, 0, 0);
    width: 150px;
    margin-left: 175px;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}

#res {
    text-align: center;
}

#txtanos {
    border-radius: 15px;
}